<ion-header>
  <ion-toolbar>
    <ion-icon (click)="closeModal()" slot="start" style="margin-left: 2vh;" name="return-left"></ion-icon> 
    <ion-title>bate-papo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item no-padding id="item">
    <ion-thumbnail id="imgCard" slot="start">
      <img  [src]="dog.fotos[0]">
    </ion-thumbnail>
    <ion-label style="margin-top:0;padding-left: 20px;padding-top: 10px;">
      <b><h3>{{dog.nome}}</h3></b>
      <p>{{dog.descricao.substr(0,20)}}<b style="color:blue !important" *ngIf="dog.descricao.length > 2"></b> ver mais</p>
    </ion-label>
    
  </ion-item>
  <ion-grid>
    <ion-text color="medium" text-center>
     
    </ion-text>
    <div *ngIf="conversa">
    <ion-row *ngFor="let message of this.conversa.mensagens">
 
      <ion-col size="9" *ngIf="message.autor !==  this.userService.afAuth.auth.currentUser.uid;" class="message other-message">
        <b>{{ destinatario}}</b><br>
        <span>{{ message.mensagem }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="message.autor ===  this.userService.afAuth.auth.currentUser.uid;"  class="message my-message">
        <b>{{ remetente }}</b><br>
        <span>{{ message.mensagem }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
    </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="mensagem"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="mensagem === ''" class="msg-btn"
          (click)="enviar()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
