<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-avatar class="avatar">
        <img src="assets/perfil.png" *ngIf="!user.foto">
        <img [src]="user.foto" *ngIf="user.foto">
      </ion-avatar>
      <b>
        <ion-label id="lheader" style="padding-left: 2vh;padding-bottom: 2vh;font-size: 3vh;">{{user.nome}}</ion-label>
      </b>
    </ion-item>
  </ion-toolbar>


</ion-header>

<ion-content>


  <ion-item *ngFor="let a of amigos" routerLink="/bate-papo">
    <ion-avatar class="fotoChat">
      <img src="assets/perfil.png" *ngIf="!user.foto">
      <img [src]="a.foto" *ngIf="user.foto">
    </ion-avatar>
    <ion-label class="chatNome" style="padding-bottom:15px;">
      {{a.nome}}
      <p>Online</p>
    </ion-label>
    
    

  </ion-item>



</ion-content>