<ion-header> 
   
  <ion-toolbar >
    <ion-icon routerLink="/perfiluser" slot="start" style="margin-left: 2vh;" name="return-left"></ion-icon> 
    <ion-title style="margin-left: 10vh;font-size: 2vh;">EDITAR DADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Nome Completo</ion-label>
    <ion-input required value="{{user.nome}}" type="text"></ion-input>
      
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input required value="{{user.email}}" type="text" readonly></ion-input>
      
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input required value="{{user.senha}}" type="text" readonly></ion-input>
  </ion-item>
  <!-- </ion-item>
  <ion-item *ngFor="let user of array">
  <label>{{user.nome}}</label>
</ion-item> -->
    
</ion-content>
