<ion-header> 
   
  <ion-toolbar >
    <ion-icon routerLink="/perfiluser" slot="start" style="margin-left: 2vh;" name="return-left"></ion-icon> 
    <ion-title style="margin-left: 10vh;font-size: 2vh;">EDITAR DADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label position="stacked">Nome Completo</ion-label>
    <ion-input required value="{{user.nome}}" type="text"></ion-input>
      
  </ion-item>
  <ion-item color="light">
    <ion-label position="stacked">Email</ion-label>
    <ion-input  required value="{{userService.afAuth.auth.currentUser.email}}" type="text" readonly></ion-input>
      
  </ion-item>
  <ion-item id="senhaGoogle" (click)="mudarSenha()" >
    <ion-label position="stacked">Senha</ion-label>
    <ion-input required value="12345678" type="password" readonly></ion-input>
      
  </ion-item>
  <!-- <ion-item *ngFor="let user of array">
  <label>{{user.nome}}</label>
</ion-item> -->
</ion-list> 
</ion-content>
