.foto img{
    width: 80%;
    border-radius: 50%;
    margin: auto;
    height: 200px;
}

.fotos img{
      height: 200px;
      border-radius: 50%;
}

.fotos-slide{
    height: 100%;
}
#map_canvas{
    height: 300px;
    //width: 100%;
}

.container{
    margin: auto;
    width: 80%;
    height: 186px;
}
#fotos{
    padding: 5px;
    float: left;
    transition: transform .2s;
    width: 110px !important;
    height: 110px !important;
    display: flexbox;
  }

  #fotos:hover{
    transform: scale(1.5) !important;
  }
  