.foto img{
    width: 80%;
    border-radius: 50%;
    margin: auto;
    height: 200px;
}

.fotos img{
      height: 200px;
      border-radius: 50%;
}

  
#map_canvas{
    height: 300px;
    //width: 100%;
}

.container{
    margin: auto;
    width: 80%;
    height: 186px;
}

ion-toolbar{
    --color: white ;
    --ion-background-color: var(--ion-color-blue_e);
  
  }
  