<ion-header>
  <ion-toolbar>
    <ion-title>add-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" name="nome" [(ngModel)] = "usuario.nome" required></ion-input>
  </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" name="pws" [(ngModel)]="usuario.pwd" required minlength="6" #s="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="s.invalid && s.dirty">Senha Muito Curta</ion-text>

    <ion-item>
      <ion-label position="floating">Confirma Senha</ion-label>
      <ion-input type="password" name="confpws" (ngModel)="confpws" required minlength="6" #c="ngModel"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="s.value != c.value && c.dirty">Senhas diferentes!</ion-text>

    <section>
      <ion-button [disabled]="fc.invalid || s.value != c.value" type="submit" expand="full" >Salvar</ion-button>
      <ion-button type="reset" expand="full" color="danger">Cancelar</ion-button>
    </section>
  </form>

</ion-content>
