// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

    /** nova **/
    --ion-color-nova: #f04141;
    --ion-color-nova-rgb: 12, 209, 232;
    --ion-color-nova-contrast: #ffffff;
    --ion-color-nova-contrast-rgb: 255, 255, 255;
    --ion-color-nova-shade: #0bb8cc;
    --ion-color-nova-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #d9d6d5;
  --ion-color-light-rgb: 217,214,213;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //** chat-color **//
  --ion-color-chat-saida: #92e2a1;
  --ion-color-chat-saida-rgb: 160,216,170;
  --ion-color-chat-saida-contrast: #000000;
  --ion-color-chat-saida-contrast-rgb: 0,0,0;
  --ion-color-chat-saida-shade: #8dbe96;
  --ion-color-chat-saida-tint: #aadcb3;


  /** Blue_e Color **/
  --ion-color-blue_e: #4187ba;
  --ion-color-blue_e-rgb: 65,135,186;
  --ion-color-blue_e-contrast: #ffffff;
  --ion-color-blue_e-contrast-rgb: 255,255,255;
  --ion-color-blue_e-shade: #3977a4;
  --ion-color-blue_e-tint: #5493c1;

  /** Green_e Color **/
  --ion-color-green_e: #03bb85;
  --ion-color-green_e-rgb: 3,187,133;
  --ion-color-green_e-contrast: #ffffff;
  --ion-color-green_e-contrast-rgb: 255,255,255;
  --ion-color-green_e-shade: #03a575;
  --ion-color-green_e-tint: #1cc291;

}
