ion-menu{
    --ion-background-color: var(--ion-color-green_e);
    --ion-text-color: var(--ion-color-green_e-contrast);
    --border: solid  var(--ion-color-dark) 1px;

}

.side-nav-menu{
    border: solid #03a575 4px;
}