ion-menu{
    --ion-background-color: var(--ion-color-blue_e);
    --ion-text-color: var(--ion-color-blue_e-contrast);
    --border: solid  var(--ion-color-dark) 1px;

}

.side-nav-menu{
    border: solid #3977a4 5px;
}