<ion-header>
    <ion-toolbar>
            <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                  </ion-buttons>
        <ion-title><strong>Perfil Do Usuario</strong></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
          <ion-item lines="none">
              <img src="assets/perfil.png" *ngIf="!user.foto">
              <img [src]="user.foto" *ngIf="user.foto">
          </ion-item>
        <ion-item>
            <h1><strong>{{user.nome}}</strong></h1>
        </ion-item>
        <ion-item>
            <p><strong>E-mail :</strong> {{user.email}}</p>
        </ion-item>
        <ion-item>
            <p><strong>Ativo :</strong> {{user.ativo}}</p>
        </ion-item>
        <ion-item>
            <p><strong>Latitude :</strong> {{user.lat}}</p>
        </ion-item>
        <ion-item>
            <p><strong>Longitude :</strong> {{user.lng}}</p>
        </ion-item>
  
        <ion-item lines="none">
            <ion-button type="reset" expand="full" color="danger" (click)="sair()">Sair</ion-button>
        </ion-item>
  
    </ion-list>
  
  </ion-content>
