<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login" *ngIf="!userservice.afAuth.auth.currentUser"></ion-icon>
<ion-chip *ngIf="userservice.afAuth.auth.currentUser" routerLink="/perfiluser">
<ion-avatar>
  <img src="assets/perfil.png" *ngIf="!user.foto">
  <img [src]="user.foto" *ngIf="user.foto">
</ion-avatar>
<ion-label>{{user.nome}}</ion-label>
</ion-chip>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <img src="assets/perfil.png" *ngIf="!dog.fotos">
    <img [src]="dog.fotos" *ngIf="dog.fotos">
  </ion-item> -->
    <ion-button type="submit" expand="block" color="success" routerLink="/adddog">Novo Pet</ion-button>
</ion-content>
