<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <strong>Home</strong>
    </ion-title>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login" *ngIf="!userService.afAuth.auth.currentUser"></ion-icon>
      <ion-chip *ngIf="userService.afAuth.auth.currentUser" routerLink="/perfiluser">
        <ion-avatar>
          <img src="assets/perfil.png" *ngIf="!user.foto">
          <img [src]="user.foto" *ngIf="user.foto">
        </ion-avatar>
        <ion-label>{{user.nome}}</ion-label>
      </ion-chip>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="SliderConfig">

    <ion-slide>
      <ion-card class="welcome-card" style="height:auto;">
        <img src="/assets/shapes.svg" alt="" />

        <ion-item>
          <img src="assets/doggo-portrait.jpg">
        </ion-item>
        <div class="nomeDog">
          <strong>
            Bernardão
          </strong>
        </div>
        <div class="idadeDog"><ion-icon name="locate"></ion-icon> 
          3 km de onde você esta!
        </div>
      </ion-card>

    </ion-slide>

  </ion-slides>


</ion-content>
<ion-footer>
  <div id="slider">
    <div id="slider-container">
      <ion-button class="slide">PROPAGANDAS 1</ion-button>
      <ion-button class="slide">PROPAGANDAS 2</ion-button>
      <ion-button class="slide">PROPAGANDAS 3</ion-button>
      <ion-button class="slide">PROPAGANDAS 4</ion-button>
      <ion-button class="slide">PROPAGANDAS 5</ion-button>
      <ion-button class="slide">PROPAGANDAS 6</ion-button>
    </div>
  </div>
</ion-footer>