<ion-header class="test">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      
      </ion-menu-button>
      <ion-badge id="notificacao" color="danger" style="position: absolute;left:10px;width: 20px;height: 20px;">66</ion-badge>

    </ion-buttons>
    <ion-title slot="end">
      <ion-icon name="person" routerLink="/login" *ngIf="!userService.afAuth.auth.currentUser"></ion-icon>
      <ion-chip *ngIf="userService.afAuth.auth.currentUser" routerLink="/perfiluser">
        <ion-avatar>
          <img src="assets/profile.png" *ngIf="!user.foto">
          <img [src]="user.foto" *ngIf="user.foto">
        </ion-avatar>
        <ion-label >{{nomeAbreviado}}</ion-label>
      </ion-chip>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: auto;">
<div id="bloqueio"></div>
  <ion-slides  [options]="slideOpts">
    <ion-slide *ngFor="let i of dogArray">
      <ion-grid fixed>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12">
            <ion-button  (click)="favoritar(i.key)" class="album"  color="danger" style="z-index: 9999; top: 50px; left: 82%; position: absolute;">
              <ion-icon [id]="i.key" *ngIf="!this.user.interessado || this.user.interessado.indexOf(i.key) == -1" name="heart-empty" ></ion-icon>
            
              <ion-icon [id]="i.key" *ngIf="this.user.interessado && this.user.interessado.indexOf(i.key) >= 0" name="heart" ></ion-icon>
          
            </ion-button>
            
            <!-- <ion-item *ngFor='let image of images'>
              <img src="{{image}}" (click)="zoomFoto(image)">
            </ion-item> -->
            <ion-card class="welcome-card">
              

              <img class="foto" (click)="abrirPerfil(i.key)" [src]="i.fotos[0]">
              <img src="assets/iconCat.png" class="icon1">
              <img src="assets/iconDog.png"class="icon6">
              <img src="assets/icon2.png" class="icon2">
              <img src="assets/icon2.png" class="icon3">
              <img src="assets/icon2.png" class="icon4">
              <img src="assets/icon2.png" class="icon5"> 
               
              <audio class="audio"  src="../../assets/audio/effect.wav" preload="auto"></audio>
              <audio class="audio"  src="../../assets/audio/effect.wav" preload="auto"></audio>
              <audio class="audio"  src="../../assets/audio/effect.wav" preload="auto"></audio>
              <audio class="audio"  src="../../assets/audio/effect.wav" preload="auto"></audio>
              <audio class="audio"  src="../../assets/audio/effect.wav" preload="auto"></audio>
              <audio class="audio"  src="../../assets/audio/effect.wav" preload="auto"></audio>

              <div class="nomeDog">
                <strong>
                  {{i.nome}}
                </strong>
              </div>
              <div class="localDog">
                <ion-icon name="locate"></ion-icon>
                3 km de onde você esta!
              
              </div>
            
                <ion-button (click)="enviarSolicitacao(i.key,i)" class="album" color="success" style="z-index: 9999; top: 320px; left: 25%; position: absolute;">
                  <ion-icon name="paw"></ion-icon>
                </ion-button>

                <ion-button  class="album" color="danger" style="z-index: 9999; top: 320px; left: 50%; position: absolute;">
                  <ion-icon name="remove"></ion-icon>
                </ion-button>


             

             
            </ion-card>



          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>


</ion-content>
<ion-footer id="slider" style="width: 100%;">
  <img src="assets/propaganda.png" class="slide">
  <img src="assets/propaganda2.png" class="slide">
</ion-footer>