  
.welcome-card{
  width: 100%;
  max-height: 50em;
  
  
}

ion-chip{
  border: solid #1cc291 1px;
  background-color: #03a575;
}

.slide-square{
  width: 80%;
  height: 150px;
  margin: auto;
  border: solid black 1px;
}
#slider {
  height:70px;
  width:100%;
  overflow:hidden;
}

.slide {
  height:70px;
  width: 100%;
  float:left;
  text-align:center;
}
.nomeDog{
  color:#fff; 
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  z-index: 9999; 
  position:absolute; 
  top:22em; 
  left:1em;
  font-size: 16pt;
}
.idadeDog{ 
  color:#fff; 
  text-shadow: 5px 5px 5px rgb(75, 74, 74);
  z-index: 9999; 
  position:absolute; 
  top:29em; 
  left:1em;
  font-size: 13pt;
}