<ion-header>
  <ion-toolbar>
    <ion-title>bate-papo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  class="alturaPage">
    <ion-card id="lado" style="width: 50%; margin-bottom: 5vh;display: block;float: left;" *ngFor="let e of chat.entrada">
    <div>
      <ion-label>Ruan</ion-label>
    </div>
    <p>{{e}}</p>
  </ion-card>
</div>
  
  <ion-item slot="fixed" class="test">
  <ion-input style= "border-style: solid; background-color:#fff; border-color: rgb(173, 191, 207); border-width: 0.5px; border-radius: 30px; padding:1px 1px 1px 15px; height: 2em;" placeholder="digita ae fdp" 
  [(ngModel)]="entrada"></ion-input>
  <ion-button type="submit" (click)="enviar()"><ion-icon name="send"></ion-icon></ion-button>
</ion-item>
</ion-content>
