ion-content{
    --ion-background-color:rgb(55, 169, 245);
    height: 200vh;
}
ion-card{
    background-color:rgb(190, 241, 190);
}
.alturaPage{
    height: 32em;
}
.test{
    position: absolute;
    left: 0;
    right: 0;
    top: 92%;
    width: 100%;
    z-index: 9;
    --ion-background-color:transparent;
    
    

  }